/*Tipografias  */

$fuenteTitulo:'Abril Fatface',
cursive;
$fuenteParrafos:'Archivo',
sans-serif;

/* Fin de tipografia */


/* paleta de colores */

$color1:#1A3042;
$color2:#DCCEBD;
$color3:#87ACCC;
$color4:#438AB7;

/* fin de colores */